<% include ./_partial/header %>
<div id="main_nav_toggle">
    <!-- Checkbox to toggle the menu -->
    <input type="checkbox" id="tm" />
    <!-- The menu -->
    <div class="sidenav">
        <ul>
            <li><a href="#setting" class="active"><b>设置</b></a></li>
            <li><a href="#addItem"><b>添加应用</b></a></li>
            <li><a href="#about"><b>关于我们</b></a></li>
        </ul>
    </div>
    <div class="popup">
        <div id="addItem">
            
        </div>
        <div id="setting">
            
        </div>
        <div id="about">
            
        </div>
    </div>
    <section>
        <label for="tm"><span></span></label>
    </section>
    <div class="iconList">
        <ul id="iconList">
            <!-- <li class="zoomInDown animated"><a href="#"><span><img src="http://is1.mzstatic.com/image/thumb/Purple4/v4/16/be/ee/16beeefb-c5ad-3d0f-14bf-bb736f362794/source.icns/512x512bb.png"></span><i>百度应用</i></a></li>
            <li class="zoomInDown animated"><a href="#"><span><img src="http://is1.mzstatic.com/image/thumb/Purple3/v4/ea/d1/40/ead14097-3e65-1d98-371e-3bd8cd3ee62d/source.icns/512x512bb.png"></span><i>Sina新闻</i></a></li> -->
        </ul>
    </div>
</div>

<script type="text/javascript" src="js/main.min.js"></script>
<% include ./_partial/footer %>