<% include ./_partial/header %>
<div id="main_nav_toggle">
    <!-- Checkbox to toggle the menu -->
    <input type="checkbox" id="tm" />
    <!-- The menu -->
    <div class="sidenav">
        <ul>
            <li><a href="#setting"><label for="setting">设置</label></a></li>
            <li><a href="#addItem"><label for="addItem">添加应用</label></a></li>
            <li><a href="#about"><label for="about">关于我们</label></a></li>
        </ul>
    </div>

    <div class="popup">
        <!-- <input type="checkbox" id="setting" /> -->
        <!-- <input type="radio" name="setting" checked="checked" id="setting" /> -->
        <div class="settingCon hidden">设置
            <div>2222</div>
            
        </div>
        <!-- <input type="checkbox" id="addItem" /> -->
        <!-- <input type="radio" name="setting" id="addItem" /> -->
        <div class="addItemCon hidden">添加应用
            
        </div>
        <!-- <input type="checkbox" id="about" /> -->
        <!-- <input type="radio" name="setting" id="about" /> -->
        <div class="aboutCon hidden">

            <h2>关于我们</h2>
            <p>BlankTab新标签页插件是一款可以把chrome默认新标签页换成一个美观实用的BlankTab新标签页，不仅有简洁美观的页面，还有邮件提醒，天气预报，笔记功能，待办事项，壁纸，历史记录管理等。</p>
            <p>BlankTab新标签页所提供的内容都是安全的，使用BlankTab搜索出来的内容会由BlankTab检测并安全地提供给用户。</p>
            <br/>
            <h2>贡献者</h2>
            
        </div>
    </div>
    <section>
        <label for="tm"><span></span></label>
    </section>
    <div class="iconList">
        <ul id="iconList">
            <!-- <li class="zoomInDown animated"><a href="#"><span><img src="http://is1.mzstatic.com/image/thumb/Purple4/v4/16/be/ee/16beeefb-c5ad-3d0f-14bf-bb736f362794/source.icns/512x512bb.png"></span><i>百度应用</i></a></li>
            <li class="zoomInDown animated"><a href="#"><span><img src="http://is1.mzstatic.com/image/thumb/Purple3/v4/ea/d1/40/ead14097-3e65-1d98-371e-3bd8cd3ee62d/source.icns/512x512bb.png"></span><i>Sina新闻</i></a></li> -->
        </ul>
    </div>
</div>

<script type="text/javascript" src="js/main.min.js"></script>
<% include ./_partial/footer %>